@{
    ViewData["Title"] = "Equipment One Contracts";
}

<script src="~/lib/angular/angular.min.js"></script>
<script src="~/lib/angular-route/angular-route.min.js"></script>
<script src="~/js/simpleControls.js"></script>
<script src="~/js/app-contracts.js"></script>

<script src="~/js/contractHeaderController.js"></script>
<script src="../js/contractDetailController.js"></script>


<h2>@ViewData["Message"]</h2>

<div>
    <span/>
</div>

<div class="row" ng-app="app-contracts">

    <div ng-view></div>
</div>
