@{
    ViewData["Title"] = "Home Page";
}

<<div class="jumbotron">
    <h1>Settlement System</h1>
    <p class="lead"></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Select an application tab &raquo;</a></p>
</div>

<div class="row">
    <div class="col-sm-2">
        <h3>Consignors</h3>
        <p>
           
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
           
    </div>
    <div class="col-sm-2">
        <h3>Disbursements</h3>
        <div>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="col-sm-2">
        <h3>Contracts on AS400</h3>
        <div>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="col-sm-2">
        <h3>CostSheet Changes</h3>
        <div>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="col-sm-2">
        <h3>Event HUB</h3>
        <div>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="col-sm-2">
        <h3>Lien Holders</h3>
        <div>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <ul>
            <li><a href="">Reports</a></li>
            <li><a href="">Manage Templates</a></li>
            <li><a href="">Configuration</a></li>
            <li><a href="">Other options &raquo;</a></li>
        </ul>
    </div>
</div>